.life {
  background: transparent;
  margin-top: 10px;

  table {
    border: 1px solid salmon;
    border-collapse: collapse;
    margin-top: 40px;

    td {
      border: 1px solid black;
      height: 8px;
      width: 8px;

      &.limbo {
        background: white;
      }
    
      &.young {
        background: rgb(224, 154, 154);
      }
    
      &.old {
        background: red;
      }
    }

    .timer {
      display: inline-block;
    }
  }
 
 
}
