.modal {
    background: rgba(250, 26, 26, 0.3);
    float: left;
    height: 100%;
    position: absolute;
    top: -110%;
    transition: top 1s;
    width: 100%;
    z-index: 5;

    &.open {
        top: 0;   
    }

    .modal-dialog {
        background: rgba(13, 134, 98, 0.5);
        height: 250px;
        margin: 0 auto;
        position: relative;
        top: 15%;
        width: 400px;
        z-index: 5;
    }

    .modal-footer {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    form {
        display: table;
        z-index: 5;
        p     { display: table-row;  }
        label { 
            display: table-cell; 
            vertical-align: top;
        }
        input { display: table-cell; }
        textarea { 
            display: table-cell; 
            height: 150px;
        }
    }
}