.recipebox {
  height: 1000px;
  left: -5%;
  position: relative;
  width: 110%;

  .container {
    margin-left: 100px;
    margin-top: 25px;
    width: 50%;
  }

  form {
    width: 300px;
  }

  .recipe {
    height: auto;
    padding-bottom: 10px;

    .ingredients {
      border: 1px solid black;
      height: auto;
      margin-left: 15px;
      position: relative;
      opacity: 1;
    }
  }
}
