.recipe {
    background: green;
    margin: 0 auto;
    width: 200px;

    .ingredients {
        background: #ffffff;
        position: relative;
        opacity: 0;
        transition: opacity 1s;

        &.open {
            opacity: 1;
        }
    }
}