.recipe {
  background: green;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 400px;

  .ingredients {
    background: #ffffff;
    height: auto;
    margin: 0 auto;
    position: relative;
    opacity: 1;
    width: 300px;
  }
}
