
  .dungeon {
    border: 1px solid salmon;

    .cell {
      border: 1px solid black;
      padding-left: 10px;
    }

    .enemy {
      background: red;
    }

    .loot {
      background: green;
    }

    .player {
      background: blue
    }

    .row {
      height: 10px
    }

    .stats {
      padding-left: 4%
    }

    .wall {
      background: gray;
    }
  }

