.container{
    margin: 0 auto;
    width: 600px;
}

.markdownInput {
    float: left;
    height: 500px;
    width: 49.8%;
}

.inline {
    display: inline;
}

#mardownOutput {
    border: 1px solid black;
    float: right;
}